/*Style by Dan3_now*/

@font-face {
    font-family: "Splatfont2";
    src: url("Splatfont2.ttf")
}

* {
    font-family: "Splatfont2";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
    align-items: center;
    justify-items: center;
}

input {
    width: 100%;
}



.flex-column {
    flex-direction: column;
}

.flex-auto {
    flex: 1 1 auto;
}

.left {
    justify-items: left;
}

.left-margin {
    margin: 0 auto 0 0;
}

.center-margin {
    margin: 0 auto 0;
}

.size-08r {
    font-size: 0.8rem;
}



.header {
    padding: 3em;
}

.search-line {
    cursor: pointer;
    width: 100%;
    gap: 0.5em;
}

.div-search-img {
    width: 4em;
    height: 4em;
    padding: 0.5em;
}

.div-search-img img {
    max-width: 4em;
    max-height: 4em;
}

.guess-line {
    width: 100%;
    gap: 1em;
}

.guess-line div {
    width: 6em;
    height: 6em;
}

.guess-line div p {
    text-align: center;
}

.div-guess-img img {
    max-width: 6em;
    max-height: 6em;
}



#guess_select {
    width: 100%;
    max-height: 10em;
    overflow-y: auto;
}

#guess_header {
    gap: 1em;
}

#guess_header div {
    width: 6em;
    height: 6em;
}

#guess_lines {
    gap: 1em;
}

